[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion
# CA1812: Class apparently never instantiated 
dotnet_diagnostic.CA1812.severity = suggestion
# CA1303: Get strings from resource table
dotnet_diagnostic.CA1303.severity = suggestion